
.navbar-search{
  display: flex;
  margin-top: 5rem;
  margin-left: 2rem;
}
.app {
  min-height: 100vh;
  background-color: #f6f7f9;

  padding: 16px;
  box-sizing: border-box;
}
.traces-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 91vh;
  width: 100%;
}