.trace-details-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
   width: 60%;
  flex: 0 0 60%; /* Don't grow, don't shrink, fixed 60% */
  overflow-y: auto; /* Scroll if content overflows */
  padding: 16px; /* Optional padding */
}

.section-title {
  font-weight: 600;
  margin-bottom: 12px;
}

.trace-path-item {
  padding: 6px 8px;
  border-left: 2px solid #e5e7eb;
  margin-bottom: 4px;
  font-size: 14px;
}
.traceid{
  color: rgb(121, 121, 250);
}
.trace-heading{
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}
.trace-path{
  border: 1px solid #e0e0e0;
  width: 90%;
  padding: 2rem;
}